.navbar {
  margin-top: 15px;
  .navbar__list {
    @include link;
    list-style: none;
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0;
    padding: 0;
    margin: 10px auto;
    font-size: 75%;
  }
}