.slider {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  /* justify-content: center; */
  scroll-behavior: smooth;
  padding-left: 4%;
  padding-right: 4%;
}

.sliderLeftBtn {
  color: $main-color-yellow;
  position: absolute;
  font-size: 80px;
  top: 13vw;
  left: 0;
}

.sliderRightBtn {
  color: $main-color-yellow;
  position: absolute;
  font-size: 80px;
  top: 13vw;
  right: 0;
}