.content__productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 19%;
  max-width: 19%;
  margin: 0 3%;
}

.content__productImg {
  width: 100%;
}

.content__productName {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $black-text;
  margin-top: 30px;
}

.content__productBrand {
  color: $gray-text;
  margin-top: 5px;
}

.content__productPrice {
  margin-top: 5px;
  margin-bottom: 12px;
}

.content__shopNowBtn {
  @include link;
}

.lineAnimation {
  margin: 0px auto;
  width: 0%;
  height: 3px;
  margin-top: 3px;
  background-color: $main-color-yellow;
  transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.content__shopNowBtn:hover>.lineAnimation {
  width: 100%;
}